.main_div {
    height: 320px;
    width: 560px;
}

.child_div {
    background-color: deeppink;
    width: 80px;
    height: 80px;
    float: left;
}

.child_div2 {
    background-color: white;
    width: 80px;
    height: 80px;
    float: left;
}